    <!-- Logo Section -->
    <div class="flex justify-center mb-4">
      <div class="inline-flex items-center justify-center w-16 h-16 bg-indigo-600 rounded-full">
          <img src="https://tailwindcss.com/plus-assets/img/logos/mark.svg?color=indigo&shade=500" alt="Your Company" class="h-8 w-auto"/>  
      </div>
    </div>
