<div class="min-h-screen py-12 px-4">
  <div class="max-w-6xl mx-auto bg-gray-900 rounded-lg shadow overflow-hidden text-white">
    <div class="p-6">
      <h1 class="text-2xl font-bold mb-4">Your Cart</h1>
      <%= render 'cart_items/cart_page' %>
    </div>
  </div>
</div>
